/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

@tailwind components;
@tailwind utilities;
@tailwind typography;

@import './prism.css';

.prose a {
  text-decoration: none;
}
.prose a {
  background:
      linear-gradient(
          to right,
          rgba(100, 200, 200, 1),
          rgba(100, 200, 200, 1)
      ),
      linear-gradient(
          to right,
          rgb(175, 149, 234, 1),
          rgb(175, 149, 234, 1)
      );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.prose a:hover {
  background-size: 0 30px, 100% 30px;
}
